div .card-group{
    display: flex !important;
}

img{
    width: 50px;
    align-self: center;
}

body {
    background-color: rgb(138, 157, 240) !important;
}
div .card {
    background-color:rgb(199, 207, 243) !important;
    text-align: center;
    padding: 2%;
}