<app-navbar-main></app-navbar-main>
<body>
    <img src="./assets/homepage_background.jpg" alt="">
    <div class="container">
        <h1>
            Benvenuto nel tuo CRM System
        </h1> 
        <h3>Il tuo cloud personale per organizzare e raccogliere tutte le informazioni dei tuoi clienti, a portata di click</h3>     
        
    </div>
    <footer class="footer">
        <nav class="navbar navbar-light bg-light navbar-collapse text-center nav nav-tabs">
        <h5>Seguici su</h5>
            
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <i aria-current="page" class="nav-link active bi bi-meta"></i>
                        </li>
                        <li class="nav-item">
                            <i aria-current="page" class="nav-link active bi bi-instagram"></i>
                        </li>
                        <li class="nav-item">
                            <i aria-current="page" class="nav-link active bi bi-twitter"></i>
                        </li>
                        
                      </ul>
                </div>
                
                
            </nav>
            
       
    </footer>
</body>
