body{
    background-color: rgb(223, 213, 213) !important;    
    background: scroll;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
img {
    width: 100%;
    background: scroll;
    opacity: 0.4;
}

.container{
    position: absolute;
    top: 150px;
    text-align: center;
    background-color: white;    
    margin-left: 50px;
    
}

.footer
{
    text-align: center !important;
}