<app-navbar-main></app-navbar-main>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Form cliente</h1>
          <h6>Compila tutti i campi</h6>
        </div>

        <form [formGroup]="form" (submit)="salvaDatiForm(form.value)">

          <div class="mb-3">
            <label class="form-label">Ragione Sociale*</label>
            <input formControlName="ragioneSociale" type="text" class="form-control" id="ragioneSociale" required
              [(ngModel)]="cliente.ragioneSociale" value="{{cliente.ragioneSociale}}">

          </div>
          <div class="mb-3">
            <label class="form-label">P. IVA*</label>
            <input formControlName="partitaIva" type="text" class="form-control" id="partitaIva" required
              [(ngModel)]="cliente.partitaIva" value="{{cliente.partitaIva}}">

          </div>
          <div class="mb-3">
            <label class="form-label">Tipo Cliente*</label>
            <select formControlName="tipiClienti" class="form-select">
              <option value=""></option>
              <option *ngFor="let tipo of tipiClienti" value="{{tipo}}">{{tipo}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" required>

          </div>
          <div class="mb-3">
            <label class="form-label">PEC</label>
            <input formControlName="pec" type="text" class="form-control" id="pec" required>

          </div>

          <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input formControlName="telefono" type="text" class="form-control" id="telefono" required>

          </div>
          <div class="mb-3">
            <label class="form-label">Nome Contatto</label>
            <input formControlName="nomeContatto" type="text" class="form-control" id="nomeContatto" required>

          </div>
          <div class="mb-3">
            <label class="form-label">Cognome Contatto</label>
            <input formControlName="cognomeContatto" type="text" class="form-control" id="cognomeContatto" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Telefono contatto</label>
            <input formControlName="telefonoContatto" type="text" class="form-control" id="telefonoContatto">

          </div>
          <div class="mb-3">
            <label class="form-label">Email contatto</label>
            <input formControlName="emailContatto" type="email" class="form-control" id="emailContatto" required>

          </div>

          <div formGroupName="indirizzoSedeOperativa">

            <div class="mb-3">
              <label class="form-label">Via</label>
              <input formControlName="via" type="text" class="form-control" id="via" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Civico</label>
              <input formControlName="civico" type="text" class="form-control" id="civico" required>
            </div>
            <div class="mb-3">
              <label class="form-label">cap</label>
              <input formControlName="cap" type="text" class="form-control" id="cap" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Località</label>
              <input formControlName="localita" type="text" class="form-control" id="localita" required>
            </div>
            <div formGroupName="comune">
              <div class="mb-3">
                <label class="form-label">Comune*</label>
                <select formControlName="comune" class="form-select" id="comuni">

                  <option *ngFor="let item of comuni"
                    [attr.selected]="cliente.id && item.id === cliente.indirizzoSedeOperativa.comune.id ? true : null"
                    value="{{item.id}}">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div formGroupName="provicia">
              <div class="mb-3">
                <label class="form-label">Provincia*</label>
                <select formControlName="provincia.nome" class="form-select" id="provincia" *ngIf="province">

                  <option *ngFor="let item of province"
                    [attr.selected]="cliente && item.id === cliente.indirizzoSedeOperativa.comune.provincia.id ? true : null"
                    value="{{item.id}}">{{item.nome}}</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Invia</button>

        </form>

      </div>
    </div>
  </div>
</div>